body,p,span{
    font-family: 'Roboto', sans-serif;

    
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}
.main-header .container-fluid,
.slider-section .container-fluid{
      max-width: 1480px;
}


body .btn-primary{
    background-color: #e73c3e !important;
    border-color: #e73a3e ;
    padding: 12px 37px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
body .btn-primary:hover::after{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .3s;

}
body .btn-primary:hover::after{
    width: 100%;
}

ul.our-primary-manu{}
ul.our-primary-manu li{}
ul.our-primary-manu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    color: #111;
}
ul.our-primary-manu li a:hover{
    color: #e73c3e;
}
 
ul.our-primary-manu li{
    position: relative;
}
ul.our-primary-manu li ul{
    position: absolute;
    width: 300px;
    left: 0;
    top: 140%;
    background: #fafafa;
    list-style:none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition:all .4s ease-in-out ;
}
ul.our-primary-manu li ul li{
    flex-direction: column;
}
ul.our-primary-manu li:hover ul{
    opacity: 1;
    visibility: visible;
    top:120%;
}
ul.our-primary-manu li ul li a{
    transition: .3s;
}
ul.our-primary-manu li ul li a:hover{
    letter-spacing: 1.5px;
    color: #e73c3e;
   
   
}
ul.our-primary-manu li a span i{
    font-size: 10px;
}

.header-info{}
.header-search{
       width: 60px;
        font-size: 22px;
        text-align: center;
        margin-right: 20px;
        border-right: 1px solid #ddd;
    
}
.header-call{
    width: 200px;
}
.header-call-icon{
    font-size: 30px;
    color: #e73c3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 600;
    color: #111;
    text-decoration: none;
    font-size: 16px;
}
.header-button{}


.slider-section{
    background: url(img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content-wrap{
    height:95vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-content h6{
   
    color: #e73c3e;
    font-size: 20px;
    font-weight: 400;
}
.slider-content h1{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}
.header-social{
   
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 0;
    
}
.header-social ul{
 list-style: none;
  
}
.header-social ul li{}
.header-social ul li span{
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header-social ul li span::after{
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -56px;
    top: 53%;
}
.header-social ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 16px ;
    color: #111;
    font-size: 19px;
}

.header-social ul li a span{
    display: inline-block;
}



.logo-section{
    border-bottom: 1px solid #ddd;
}
.clien-logo{}
.clien-logo ul{
    list-style: none;
    padding-left: 0;
}

.about-image{
    position: relative;
}
.about-img-text{
    position: absolute;
    right: 10px;
    bottom: 0;
    background: url(img/shape.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img-text h2{
    font-size: 70px;
    color: #e73c3e;
    margin-bottom: 5px;
    line-height: 1;
}
.about-img-text p{
    color: #111111;
    font-weight: 500;
}


.get-bg{
    background-color: #f9fafb;
}
.about-text{}
.finix-text h6{
    font-weight: 400;
    font-size: 17px;
    color: #e73c3e;
    margin-bottom: -6px;
}
.finix-text h2{
    font-weight:400;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.finix-text p{
    color: #606060;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
}
.finix-text strong{
    font-size: 18px;
    color: #606060;
    font-weight: 400;
    margin-bottom: 20px;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
   
}
.finix-text ul li{
    padding:5px 0 ;
}

.finix-text ul li i{
    
   font-size: 18px;
    color:#e73c3e;
    display: inline-block;
    margin-right: 2px;
}

.mrt{
    margin-top: -30px;
}
.features-item{
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    position:relative;
    transition: .4s;
}
.features-item:hover{
    transform:translateY(15px) ;
}


.features-item::before{
    content: "";
    position: absolute;
    top:-180px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background:#fdebeb;
    border-radius: 50%;;
}
.features-item .ft-icon{
    position: relative;
    z-index: 1;
}
.features-item .ft-icon i{
    color: #e73c3e;
    font-size: 50px;
    background: #fff;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    transition: .4s;
}
.features-item:hover .ft-icon i{
    color: #fff;
    background: #e73c3e;
}
.ft-icon{}
.ft-icon h3{}
.ft-icon p{}
.finix-text{
    position: relative;
}
.play-animation-btn{ 
    width: 90px;
    height: 90px;
    display: inline-block;
    background: #fff;
    font-size: 65px;
    text-align: center;
    line-height: 90px;
    color: #e73c3e;
    border-radius: 50%;
    position: absolute;
    right: 34%;
    bottom: 50px;
   
}
.play-animation-btn:hover{
    color: #fff;
    background: #e73c3e;
}
.play-animation-btn::before{
    content: "";
    width:90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73c3e;
    border-radius: 50%;
    animation: playbtn 1.6s ease-in-out infinite;
}
@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}


.applay-now-section{
    margin-top: 40px;

}
.applay-n-l-text{}
.applay-n-l-text h2{
    font-size: 36px;
    font-weight: 400;
    
}

.step-timeline{}
.step-timeline ul{
    list-style: none;
    position:relative;
    padding-left: 60px;
}
.step-timeline ul::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 10px;
    width: 1px;
    background: #e73a3e;
    height: calc(100% - 100px);
}
.step-timeline ul li{
    margin-bottom: 25px;
    position: relative;
    
}
.step-timeline ul li::before{
    content: attr(data-counter);
    position: absolute;
    left: -65px;
    top: 0;
    height: 40px;
    width: 40px;
    background: #f9fafb;
    border: 1px solid #e73c3e;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    
}

.step-timeline ul li strong{
    font-size: 25px;
    display: block;
    margin-bottom: 10px;

}
.step-timeline ul li p{
    color: #606060;
    font-size: 14px;
}



.calculation-rate{
    background-color: #fdebeb;
    padding: 50px;
}
.calculation-rate .finix-text{}
.calculation-rate .finix-text h6{
    color: #606060;
}
.calculation-rate .finix-text h2{}

.calculate-from .form-group{
    margin-bottom: 16px;
}
.calculate-from .form-group input{
    border: none;
    border-radius: 0;
    box-shadow: unset;
    padding:10px;
}
.calculate-from .form-group select{
    border: none;
    border-radius: 0;
    box-shadow: unset;
    height: 54px;
}
.calculate-from .form-group label{
    display: block;
    margin-bottom: 2px;
}


.call-to-action-bg {
    background-color: #e73c3e;
    padding: 60px;
    padding-bottom: 40px;
    color: #fff;
    border-radius: 6px;
}
.call-to-action-bg h3{
    font-size: 33px;
    font-weight: 400;
     border-right: 1px solid #ddd;
}
.call-to-action-phone{
    margin-top: 17px;
}
.call-to-action-phone span{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fff;
    color: #e73c3e;
    font-size: 32px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}
.call-to-action-phone span i{
    margin: 15px;
}
.call-to-action-phone a{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    font-size: 35px;
}



.our-com-values{
    margin-top: 90px;
}
.our-com-img{
   text-align: right;
    margin-right: 10px;
}
.com-values-text{}
.values-item{
    margin-bottom: 10px;
}
.values-item .values-icon{
    font-size: 38px;
    color: #e73c3e;
    margin-right: 30px;
}
.values-text{}
.values-text h3{}
.values-text p{
    color: #606060;
}




.services-tab-item{
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 46px !important;
}
.services-tab-item li{
    flex: 1 1 auto;
}
.services-tab-item li a.active span i {
    color: #e73c3e;
}
.services-tab-item li a.active{
    position: relative;
}
.services-tab-item li a.active::after{
    content: "";
    position: absolute;
    

}
.services-tab-item li a span i{
    background: #fff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-size: 33px;
    color: #666;
    box-shadow:  0 2px 28px 0 rgba(0,0,0,.09);
    transition: .5s;
}

.services-tab-item li a strong{
    color: #222;
    font-weight: 600;
    font-size: 20px;
}


.services-tab-content-text{}
.services-tab-content-text ul{
    list-style: none;
    padding:0;
}
.services-tab-content-text ul li{
    color:#606060 ;
}
.services-tab-content-text ul li::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #e73c3e;
    border-radius: 50%;
    margin-right: 10px;
}
.services-tab-content-text p{
    color: #606060;
}
.services-tab-content-text h3{
    font-size: 25px;
    font-weight: 500;
}



.testimonial-section{}
.testimonial-content{}
.testimonial-content p{
    font-size: 26px;
    color: #111;
    font-weight: 400;
}
.client-details h5{
    font-size: 20px;
    color: #e73c3e;
    margin-bottom: 6px;
}
.client-details p{
    color: #606060;
    font-size: 16px;
}
.testimonial-img{}
.testimonial-img img{}



.team-member{}
.member-img{
    position: relative;
}
.member-img img{
    width: 100%;
    height: auto;
}
.member-social{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.member-social ul{
    text-align: center;
    padding-left: 0;
    margin-bottom: 25px;
}
.member-social ul li{
    display: inline-block;

    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}
.member-img:hover .member-social ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.member-img .member-social ul li:nth-child(1){
    transition-delay: .2s;
}
.member-img .member-social ul li:nth-child(2){
    transition-delay: .3s;
}
.member-img .member-social ul li:nth-child(3){
    transition-delay: .4s;
}
.member-img .member-social ul li:nth-child(4){
    transition-delay: .5s;
}

.member-social ul li a{
    display: block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    color: #111;
    transition: .5s;
}
.member-social ul li a:hover{
    color: #fff;
    background: #e73c3e;
    
}


.finix-text h4{
    color: #111;
    font-weight: 500;
    transition: .4s;
}
.finix-text h4:hover{
    color: #e73c3e;
}
.finix-text a{
    color: #111;
    font-size: 38px;
    font-weight: 500;
    margin-top: 13px;
    transition: .4s;
    text-decoration: none;
}
.member-img2 img{
    max-width: 100%;
}
.blog-item:hover .finix-text a{
    letter-spacing: 1.5px;
    color: #e73c3e;
}
.blog-item:hover .finix-text h4 a{
    letter-spacing: 0;
    color: #111;
}
.read-m a{
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-top: 13px;
    transition: .4s;
    text-decoration: none;
}

.footer{
   background: #111;
   color: #fff;
}
.footer-widget h3{
    font-size: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 21px;
    margin-bottom: 21px;
}
.footer-widget ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-widget ul li{
    margin: 10px 0;
}
.footer-widget ul li a{
    text-decoration: none;
    transition: .3s;
}
.footer-widget ul li a:hover{
    letter-spacing: 1.5px;
    color: #e73c3e;
}
.widget-social{}
.widget-social ul{}
.widget-social ul li{
    padding:10px 0;
    margin: 0 !important;
}
.widget-social ul li span{
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.widget-social ul li a{
    font-size: 20px;
    padding: 10px 10px;
}
.footer-bottom{
    border-top:1px solid #444 ;
}
.footer-copyright p{
    
    margin-bottom: 0;
}
.footer a{
    color: #fff;
}
.footer-contact{}
.footer-con-item a{
    position: relative;
    transition: .4s;
}
.footer-con-item a:hover{

    color: #e73c3e;
}
.footer-con-item span{
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    padding-bottom: 30px;


}
  
.footer-con-item span i{
      
    }
.footer-con-item a{
    text-decoration: none;
   
}
.footer-copyright p{
    color: #606060;
    font-weight: 400;
    font-size: 16px;

}
.footer-copyright p a{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}










.h-breadcrumb{
    padding: 120px 0;
    background-image: url(img/bg.jpg);
    background-position: center 28%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.h-breadcrumb::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .77;
    z-index: -1;
}

.breadcrumb h2{
    font-size: 40px;
   
}
.breadcrumb-item  a{
    color:red ;
    text-decoration: none;
}

.finix-text h1{
    font-size: 39px;
    margin-top: 20px;
}





.h2-breadcrumb{
    padding: 220px 0;
    background-image: url(img/bg-3.jpg);
    background-position: center 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.h2-breadcrumb::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .77;
    z-index: -1;
}
.